<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nestjs 2fa</title>
</head>
<body>
  <h1>Two Factor Auth</h1>
  <p>Scan the QR code with your auth app</p>
  <img src="<%= qrcode %>" alt="QR Code">
  <h2>OTP: <%= otp %><h2>
  <form action="/verify" method="post">
    <input type="hidden" name="secret" value="<%= secret %>">
    <label for="token"> Enter OTP:</label>
    <input type="text" name="token" id="token" required>
    <button type="submit">Verify OTP</button>
  </form>
</body>
</html>